<h3>Edit a Lannister</h3>
<%= form_for @lannister do |f| %>
<div>
<%= f.label :first_name%>
<%= f.text_field :first_name%>
</div>
<div>
<%= f.label :age%>
<%= f.text_field :age%>
</div>
<%= f.submit%>
<% end %>